h1 {
  text-align: center
}

h2 {
  text-align: center;
}

body {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 56px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(100px, auto);
  align-items: stretch;
  grid-template-areas:
    " header  "
    " restofbody  "
    " footer   ";
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.Name {
  background-color: pink;
  width: 66.66%;
}

.contact {
  padding: 0px;
  background-color: red;
  width: 33.33%;
}

.contact ul li {
  list-style-type: none;
  padding: 5px;
}

.contact ul li a {
  text-decoration: none;
}

.restofbody {
  grid-area: restofbody;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 20px;
}

.summary {
  height: 100%;
  grid-column: 1/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.picture {
  width: 30%;
  border: 1px solid red;
}

.picture img {
  position: relative;
  left: 25%;
  width: 50%;
  image-orientation: ;
  border-radius: 50%;
  border: 1px solid red;
}

.introduction {
  width: 70%;
  background-color: blue;
}

.workexperience {
  background-color: hotpink;
  grid-column: 1/3;
  height: 100%;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.HeaderTitle {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.title {
  height: auto;
  background-color: grey;
  width: 70%;
}

.date {
  height: auto;
  background-color: pink;
  width: 30%;
}

.date li {
  list-style-type: none;
}

.Detail {
  background-color: green;
  height: auto;
  width: 100%;
}

.sidebar {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.education {
  background-color: orange;
  width: 100%;
  height: auto;
}

.education li {
  list-style-type: none;
}

.skills {
  display: flex;
  flex-direction: column;
  background-color: teal;
  width: 100%;
  height: auto;
}

.skills li {
  padding: 5px;
}

.technical {
  border: 4px solid red;
}

.professional {
  border: 4px solid blue;
}

.languages {
  background-color: indigo;
  width: 100%;
  height: 30%;
}

.professional li {
  list-style: none;
  padding: 5px;
}

.languages li {
  list-style: none;
  padding: 5px;
}

.technical li {
  list-style: none;
}

.footer {
  grid-area: footer;
  background-color: purple;
  height: 100%;
}

.footer ul {
  padding: 0px;
  text-align: center;
}

.footer li {
  display: inline;
  padding: 70px;
  list-style-type: ;
}

.footer li a {
  text-decoration: none;
}

.date {
  width: 50%;
  padding: 0;
}

.date ul {
  margin-top: 0;
  padding-left: 5px;
}

@media screen and (max-width:900px) {
  .header {
    flex-direction: column;
  }

  .contact ul {
    padding: 0px;
    text-align: center;
  }

  .Name {
    width: 100%;
  }

  .contact {
    width: 100%;
  }

  .summary {
    flex-direction: column;
  }

  .picture {
    width: 100%;
  }

  .introduction {
    width: 100%;
    height: auto;
  }

  .restofbody {
    display: flex;
    flex-direction: column;
  }

  .title {
    width: 50%;
  }

  .skills {
    display: flex;
    flex-direction: row;
  }

  .skills h2 {
    position: relative;
    left: 44%;
    height: 20px;
  }

  .technical {
    position: relative;
    right: 90px;
    margin-top: 50px;
    width: 50%;
  }

  .technical h3 {
    text-align: center;
  }

  .professional {
    position: relative;
    margin-top: 50px;
    width: 50%;
  }

  .professional h3 {
    text-align: center;
  }

  .footer ul {
    padding: 0px;
    text-align: center;
  }

  .footer li {
    display: inline;
    padding: 30px;
  }
}
